.App {
  text-align: left;
  padding: 40px;
}

.heading{
  font-size: 3rem;
  text-align: center;
}

.box1{
  background-color: #96bbfe;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.box2{
  background-color: #9dfe96;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.box3{
  background-color: #e296fe;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.box4{
  background-color: #feeb96;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.box5{
  background-color: #fe9896;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}